{% extends 'bootstrap5/bootstrap5.html' %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_extra_head %}
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block bootstrap5_title %}Portal{% endblock %}

{% block bootstrap5_content %}
    <style>
body{
    margin-top:20px;
    background:#eee;
}

    </style>
    <div class="container mx-auto mt-4">
      <h1>{% block title %} Selamat datang, {{ request.user.username }}{% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}
        <div class="row">
        {% for itm in menus %}
        <div class="card mb-3" style="max-width: 540px; margin-right: 20pt;">
  <div class="row g-0">
    <div class="col-md-4">
        <i class="fa-solid {{ itm.icon }} fa-7x"></i>
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title">{{ itm.title }}</h5>
          <p class="card-text">{{ itm.desc }}</p>
          <a href="{{ itm.url }}" target="_blank" class="btn btn-primary stretched-link">Visit</a>
      </div>
    </div>
  </div>
</div>

        {% endfor %}
        </div>
        {% endblock %}
    </div>

{% endblock %}
